page-feel {
    ion-navbar{
        $navbar-ios-height: 28px;
        color:#2FBD7A;
        .ion{
            color:#fff;
            font-size: 18px;
            margin-right:8px; 
        }
        ion-title{
           text-align: center;
           color:#fff;
        }
    }
        .list1{
             margin-top:5px;
             margin-left:5px; 
             float: left; 
             width:99%;
             height:200px;
            textarea{
                background-color:#FEFEFE;
                border-color:#FEFEFE;
                width:99%;
                height:200px;
            }
        }
        .list2{
            float: left;
            height:200px;
            img{
                position: absolute;
                height: 130px;
                float: left;
            }
            .con2{
                margin: 280px;
                margin-top: 100px;
                height: 25px;
                width:65px;
                position: relative;
                border-radius:22px;
                background-color: #F4F4F4;
                float: left;
                .inside{
                    position: absolute;margin:auto; top: 3px;left: 8px;right: 0;bottom: 0;
                }
            }
        }
        
}
