page-about {
    ion-content{
        background: url(../../assets/imgs/shu.png) no-repeat;
        background-size:  100% 570px;
    }
    ion-header{
        ion-navbar{
            ion-buttons{
                button{
                    .add{
                        font-size: 12px!important;
                    }
                   
                }
                
            }
            ion-title{
                text-align: center;
            }
           
        }
    }
}
