page-touxiang {
    text-align: center;
    .touxiang{
        div{
            border: 1px solid red;
        }
        .yuan{
            border-radius: 50%;
            width: 140px;
            height: 140px;
            margin-top: 35% ;
            margin-left: 31%;
            border: 1px solid;
        }
        height: 50%;
        p{
            text-align: center;
            margin-top: 10%;
            letter-spacing: 2px;
            font-size: 15px
        }
    }
    .img{
       
         text-align: center;
       
    }
}
