<ion-header no-border>
  <ion-navbar color='zhuti'>
    <ion-title>
      文章详情
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-left  padding-right>
  <div class="al">
      <div class="img">
        <div class="title">{{list[0]?.atitle}}</div>
        <div class="top">
          <ul>
            <li class="first">{{list[0]?.uname}}</li>
            <li class="atime">{{list[0]?.atime}}</li>
            <li>阅读：{{seenum}}</li>
          </ul>
        </div>
        <div class="xian"></div>
        <img id="img" src="{{'http://192.168.80.144:8080/content/'+list[0]?.aimage}}">
        <!-- <i class="iconfont icon-2fanhui" color="primary" (click)="last()"></i>
        <i class="iconfont icon-fenxiang" color="primary" (click)="fenxiang()"></i> -->
      </div>
     
      <div class="content">
          <pre>{{content}}</pre>
      </div>
      <div class="bottom">
        <div class="pl">所有评论</div>
          <ul class="tiezi">
              <li *ngFor='let item1 of commont;let idx=index' class="one">
                <div>
                    <ul class="pinlun">
                      <li class="img"><img  src="{{'http://192.168.80.144:8080/user/'+item1?.uimage}}"></li>
                      <li class="name">{{item1?.uname}}</li>
                      <li class="time">{{item1?.actime}}</li>
                     
                    </ul>
                </div>
                <div class="content">
                  {{item1?.accontent}}
                </div>
              </li>
          </ul>
      </div>
      <div class="fenxiang" [ngStyle]="{'display': isCheck== 1  ? 'block' : 'none'}">
        <p>分享到...</p>
        <ul>
          <li ><i class="iconfont icon-pengyouquan1 first"></i><span>朋友圈</span></li>
          <li><i class="iconfont icon-weixin-copy"></i><span>微 信</span></li>
          <li><i class="iconfont icon-kongjian"></i><span>空 间</span></li>
          <li><i class="iconfont icon-qq"></i><span> Q Q</span></li>
        </ul>
      </div>
    </div>
    <div class="comment">
      <h6>添加评论</h6>
      <textarea [(ngModel)]="value" (keyup)="len(value)"> </textarea>
      <span class="len"> {{length}}<span>/20</span></span>
      <button (click)="comment()">发送</button>
    </div>
    <!-- 评论信息列表 -->
    <div class="reply">
      <h6>回复列表</h6>
      <!-- <ul>
        <li *ngFor="let n of reply">
          <p class="info">
            <img [src]="{{n.author.avatar_url}}" alt="">
            <span class="msg">
              <span class="login_name">{{n.author.loginname}}</span>
              <span class="login_time">{{n.create_at|timeGo}}</span>
              <i class="icon"></i>
            </span>
          </p>
          <div class="content" ng-bind-html="n.content|htmled">2</div>
        </li>
      </ul> -->
    </div>
  </ion-content>
  <ion-footer >
      <ul>
          <li class="icon" ><ion-icon name="md-open"><span>&nbsp;{{seenum}}</span></ion-icon></li>
          <li class="icon"><ion-icon name="md-text"><span>&nbsp;{{seenum}}</span></ion-icon></li>
          <li class="icon" (click)="dianzan()"><ion-icon name="md-heart-outline"><span>&nbsp;{{dianzannum}}</span></ion-icon></li>
        </ul>
  </ion-footer>