page-share {
    
.fenxiang{
    position: absolute;
    top:450px;
    left: 0px;
    background-color: rgb(251, 253, 255);
    
    p{
        font-size: 20px;
        margin-top: 0px;
    }
    border: 1px solid rgb(255, 255, 255);
    height: 200px;
    width: 100%;
    ul{
        margin-top: 0px;
        padding: 0px;
        li{
           
            .first{
                margin-left: 35px!important;
                
            }
            float: left;
            i{
                
                font-size: 52px;
                height: 36px;
                margin-left: -10px;
                text-align: center;
               
            }
            span{
                position: relative;;
                top: 40px;
                left: -43px;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

}
